<main class="grid gap-0 h-100">
  <section class="g-col-6">
    <app-header [userName]="userName"></app-header>
    <div class="p-4">
      <app-user (userData)="getUserData($event)"></app-user>
    </div>
  </section>
  <section class="g-col-6 border-start bg-light grid gap-0 overflow-hidden">
    <div class="page p-4 m-4 bg-white g-col-12">
      <!-- Header -->
      <h4 class="m-0">{{userData.firstName}} {{userData.lastName}}</h4>
      <p class="small text-muted">{{userData.jobTitle}}</p>
    </div>
    <div class="action-area p-4 border-top d-flex g-col-12">
      <button type="button" class="ms-auto btn btn-primary">Download</button>
    </div>
  </section>
</main>