<main class="grid gap-0 h-100">
  <section class="g-col-6">
    <app-header [userName]="userName" [jobTitle]="userData.jobTitle"></app-header>
    <div class="p-4">
      <app-user (userData)="getUserData($event)"></app-user>
      <app-home [msg]="userData.firstName"></app-home>
    </div>
  </section>
  <section class="g-col-6 border-start bg-light grid gap-0 overflow-hidden">
    <div class="page-wrapper m-4 g-col-12" #pdfWrapper>
      <div class="page h-100 bg-white p-4">
        <div class="grid">
          <div class="g-col-6 align-self-center">
            <!-- Header -->
            <h4 class="m-0">{{userName}}</h4>
            <p class="small text-muted">{{userData.jobTitle}}</p>
          </div>
          <div class="g-col-6">
            <div class="address mb-3">
              {{userData.address}} <br>
              {{userData.pinCode}} <br>
              Your State, Your Country
            </div>
            <div class="contact-info">
              <p class="phone-number m-0">(123)-456-7890</p>
              <p class="email m-0">info@example.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="action-area p-4 border-top d-flex g-col-12">
      <button type="button" class="ms-auto btn btn-primary" (click)="downloadPdf()">Download</button>
    </div>
  </section>
</main>